# Dependencies
node_modules/
dist/
build/

# Environment
.env
.env.local
.env.production
.env.development

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Database / Prisma
/prisma/migrations/
.sqlite-wal
.sqlite-shm

# IDEs
.vscode/
.idea/
*.swp
*.swo
